.win95-status-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 28px;
    border-top: 2px solid var(--win95-control-border-highlight);
    margin: 0 1px;
}

.resize-handle {
    align-self: end;
    position: absolute;
    margin-left: auto;
    width: 40px;
    height: 40px;
    background: repeating-linear-gradient(
            135deg,
            var(--win95-control-border-lowlight),
            var(--win95-control-border-lowlight) 2px,
            #c0c0c0 2px,
            #fff 4px
    );
    bottom: -17px;
    right: -17px;
    clip-path: polygon(50% 50%, 0% 50%, 50% 0%, 50% 0%); /* to create a triangle effect */
    cursor: se-resize;
}