.win95-window {
    position: absolute;
    padding: 2px;
    z-index: 100;
}

.win95-window-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.resize-handle {
    position: absolute;
}

.resize-n {
    background: transparent;
    top: -2px;
    height: 4px;
    width: 100%;
    cursor: ns-resize;
}

.resize-s {
    background: transparent;
    bottom: -2px;
    height: 4px;
    width: 100%;
    cursor: ns-resize;
}

.resize-w {
    background: transparent;
    top: 0;
    left: -2px;
    width: 4px;
    height: 100%;
    cursor: ew-resize;
}

.resize-e {
    background: transparent;
    top: 0;
    right: -2px;
    width: 4px;
    height: 100%;
    cursor: ew-resize;
}

.resize-nw-left {
    cursor: nwse-resize;
    background: transparent;
    height: 20px;
    width: 4px;
    top: -2px;
    left: -2px;
}

.resize-nw-top {
    cursor: nwse-resize;
    background: transparent;
    height: 4px;
    width: 20px;
    top: -2px;
    left: -2px;
}

.resize-ne-right {
    cursor: nesw-resize;
    background: transparent;
    height: 20px;
    width: 4px;
    top: -2px;
    right: -2px;
}

.resize-ne-top {
    cursor: nesw-resize;
    background: transparent;
    height: 4px;
    width: 20px;
    top: -2px;
    right: -2px;
}

.resize-se-right {
    cursor: nwse-resize;
    background: transparent;
    height: 20px;
    width: 4px;
    bottom: -2px;
    right: -2px;
}

.resize-se-bottom {
    cursor: nwse-resize;
    background: transparent;
    height: 4px;
    width: 20px;
    bottom: -2px;
    right: -2px;
}

.resize-sw-left {
    cursor: nesw-resize;
    background: transparent;
    height: 20px;
    width: 4px;
    bottom: -2px;
    left: -2px;
}

.resize-sw-bottom {
    cursor: nesw-resize;
    background: transparent;
    height: 4px;
    width: 20px;
    bottom: -2px;
    left: -2px;
}