.win95-window {
    position: absolute;
    width: 800px;
    height: 500px;
    padding: 2px;
    z-index: 100;
}

.win95-window-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    /*border: 2px solid var(--win95-control-border-lowlight);*/
    /*border-top-color: #000000;*/
    /*border-left-color: #000000;*/
}