.win95-task-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    padding: 3px 5px 3px 5px;
    box-shadow: none;
    border-top: 2px solid var(--win95-control-border-highlight);
    background-color: var(--win95-control-bg);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    z-index: 9000;
}

.win95-start-container {
    position: relative;
}

.system-tray {
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}