.win95-menu-option {
    display: flex;
    align-items: center;
    position: relative;
    list-style: none;
}

.win95-menu-option-text:first-letter {
    text-decoration: underline;
}

.option-disabled {
    color: var(--win95-titlebar-bg-inactive);
}

.option-disabled:hover {
    color: var(--win95-titlebar-bg-inactive) !important;
}

.menu-option-arrow {
    width: 0;
    height: 0;
    margin-left: auto;
    border-left: 5px solid black;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.option-menu {
    position: absolute;
    color: initial;
    top: 0;
    right:0
}

.option-menu .menu-option-arrow  {
    border-left-color: initial !important;
}

.win95-menu-option:hover {
    color: #fff;
    background-color: var(--win95-titlebar-bg-active);
}

.win95-menu-option:hover .menu-option-arrow {
    border-left-color: #fff;
}

/*Start Menu*/
.win95-start-menu  {
    height: 100%;
    width: 100%;
    position: relative;
}

.win95-start-menu .win95-menu-option {
    height: 2.75rem;
    padding: 0 1rem;
}

.win95-start-menu .win95-menu-option .option-icon {
    margin-right: 16px;
}

.win95-start-menu .option-menu {
    top: -4px;
    right: 12px;
}

/*Dropdown Menu*/
.win95-dropdown-menu {
    min-width: 160px;
    width: max-content;
    height: min-content;
    padding: 2px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9100;
}

.win95-dropdown-menu .win95-menu-option {
    padding: 2px 10px 2px 25px;
    height: 24px;
}

.win95-dropdown-menu .win95-menu-option .option-icon {
    margin-right: 8px;
}

.win95-dropdown-menu .option-menu {
    top: 0;
    right:0
}

.win95-dropdown-menu .win95-menu-option:has(.option-icon) {
    padding-left: 8px;
}