.win95-start-container {
    position: relative;
}

.win95-start-menu {
    width: 300px;
    height: 400px;
    position: absolute;
    top: -400px;
    padding: 2px;
    z-index: 9999;
}

.win95-logo {
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: var(--win95-titlebar-bg-inactive);
    color: white;
}

.win95-logo h1 {
    transform: translateY(-85px) translateX(2px) rotate(-90deg);
    color: var(--win95-titlebar-text-inactive);
    font-weight: bold;
    font-size: 40px;
    text-wrap: nowrap;
}

.win95-logo h1 span {
    color: white;
    font-weight: lighter;
}