.win95-icon {
    display: inherit;
    position: relative;
}

.shortcut-icon {
    position: absolute;
    top: 0;
    left: 0;
}

.sm {
    width: 16px; /* 16px */
    height: 16px;
}

.md {
    width: 32px; /* 32px */
    height: 32px;
}

.lg {
    width: 48px; /* 48px */
    height: 48px;
}