 /*TODO: Might need to create a component to have those styles in window component*/
.file-explorer-content {
    flex-grow: 1;
    border: 2px solid #000000;
    border-right-color: #fff;
    border-bottom-color: #cacfd0;
    margin: 0 2px;
    box-shadow: inset -2px 0 0 0 #cacfd0;
    background-color: white;
    color: black;
}

.file-explorer-content::before {
    content: "";
    position: absolute;
    right: 4px;
    bottom: 32px;
    width: 2px;
    height: 2px;
    background-color: #fff;
}

.status-pane {
    display: flex;
    align-items: end;
    height: 1.5rem;
    padding: 0 0 0.05rem 0.15rem;
    color: black;
    text-align: justify;
}

.selection-info {
    width: 250px;
}

.storage-info {
    margin-left: 3px;
    width: 100%;
}