.file-explorer-content {
    flex-grow: 1;
    border: 2px solid var(--win95-control-border-lowlight);
    border-top-color: #000000;
    border-left-color: #000000;

    background-color: white;
    color: black;
}

.status-pane {
    display: flex;
    align-items: end;
    height: 1.5rem;
    padding: 0 0 0.05rem 0.15rem;
    color: black;
    text-align: justify;
}

.selection-info {
    width: 250px;
}

.storage-info {
    margin-left: 3px;
    width: 100%;
}