:root {
    --win95-bevel-light: #FFFFFF;

    /*Control*/
    --win95-control-bg: #C0C0C0;
    --win95-control-shadow: #41444b;
    --win95-control-border-highlight: #FFFFFF;
    --win95-control-border-lowlight: #808080;

    /*Title Bar*/
    --win95-titlebar-bg-active: #000080;
    --win95-titlebar-bg-inactive: #808080;
    --win95-titlebar-text-active: #FFFFFF;
    --win95-titlebar-text-inactive: #C0C0C0;

    /*Text*/
    --win95-text-primary: #000000;
    --win95-text-disabled: #808080;
}

@font-face {
    font-family: w95-sans-serif;
    src: url("./assets/fonts/w95fa.woff2");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: w95-sans-serif, sans-serif, serif;
    user-select: none;
}

.win95-control {
    border: 2px solid var(--win95-control-border-lowlight);
    border-top-color: var(--win95-control-border-highlight);
    border-left-color: var(--win95-control-border-highlight);
    box-shadow: 1px 1px var(--win95-control-shadow);
    background-color: var(--win95-control-bg);
}

.win95-inset {
    border: 2px solid var(--win95-control-border-highlight);
    border-top-color: var(--win95-control-border-lowlight);
    border-left-color: var(--win95-control-border-lowlight);
}

.win95-drag-outline {
    position: absolute;
    pointer-events: none;
    mix-blend-mode:  difference;
    z-index: 9000;
}

.win95-drag-outline::after{
    content: "";
    position: absolute;
    inset: 0;
    padding: 8px;
    /* the 2×2 checkerboard (black + transparent) */
    --checker: repeating-conic-gradient(#fff 0 25%,transparent 0 50%) 0 0/4px 4px;
    background:var(--checker);
    mask: linear-gradient(#fff 0 0,#fff 0 0) content-box, linear-gradient(#fff 0 0, #fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    animation: march 0.4s steps(4) infinite; /* optional “marching ants” */
}

@keyframes march{
    to{ background-position: 4px 0 }   /* shift by one tile            */
}